@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}
.main {
  background-color: #646464;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
}
.direita{
  height: 100vh;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.esquerda{
  height: 100vh;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.upgrades{
  width: 80%;
  height: 90%;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 20px;
}
